{% extends "base.html" %}
{% load static %}

{% block title %}
  Об авторе проекта
{% endblock %}

{% block content %}
  <div class="container py-5">
    <h1>Привет, я автор</h1>
    <article>
      <p>
        Меня зовут Настя, я из Красноярска. Мне 25 лет. <br>
        По образованию я строитель, специальность "Промышленное и гражданское строительство".
      </p>
      <p>
        Каких-то особенных хобби у меня нет.
        Люблю читать. На данный момент я увлечена творчетсвом Терри Пратчетта.<br>
      </p>
      <p>
        Анекдот от Пратчетта:<br>
        - Как можно назвать человека, который бросил своего боевого коня?<br>
        - Пехотинцем?<br>
      </p>
      <p>
        Иногда я хожу на местер-классы и рисую.<br>
        Это моя последняя картина:
      </p>
      <p>
        <img src="{% static 'img/pig.png' %}">
      </p>
      <p>
        А это мой профиль на Github: <a href="https://github.com/AnastasiaNesterenko">"тык"</a>
      </p>
    </article>
  </div>
{% endblock %}
